/* global */
body{
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5;
   margin:0;
   padding:0;
   /* position: relative; */
}

a{
   text-decoration: none;
   color:whitesmoke;
}

a:hover{
   font-weight: bold;
}

ul{
   list-style: none;
}

.cls{
   clear: both;
}
/* header */
header{
   min-height:80px;
   background-color: rgb(58, 59, 72);
   text-align: center;
   color:aliceblue;
   border-bottom: 1.5px rgb(220, 62, 5) solid;
}

#logo{
   float:left;
   display: inline;
   padding-top: 15px;
}

#logo h1{
   padding:0;
   margin:0;
   padding-left: 50px;

}

.Adie{
   color: orangered;
}

#navigation{
   float:right;
   padding-top:30px;
   padding-right: 50px;
}

#navigation ul{
   display: inline;
}

#navigation li{
   display: inline;
   padding: 20px;
   text-transform:uppercase;
}

.acme, .current{
   color:orangered;
}

/* dashboard */
#dashboard{
   text-align:center;
   padding: 70px;
   color:aliceblue;
   position: relative;
   min-height: 300px;
}

#dashboard::before{
   content:"";
   position: absolute;
   inset: 0;
   background: url('../img/background.avif') 110px -20px;
   /* filter: brightness(80%); */
   filter: blur(2px); 
   transform: scale(1.358);
   z-index: -1; 
}

#dashboard h1{
   font-size: 42px;
}
#dashboard p{
   padding: 0px 50px;
}

/*newsletter*/
#newsletter{
   background-color: rgb(58, 59, 72);
   border-top: 1.5px orangered solid;
   text-align: center;
   min-height: 70px;
}

#newsletter h3{
   color:aliceblue;
   float:left;
   display: inline;
   padding-left: 50px;
}

#newsletter form{
   float:right;
   display:inline;
   padding-right: 50px;
   padding-top: 20px;
}

#newsletter input[type="email"]{
   border:0px;
   padding:4px;
   border-radius: 3px;
}

.button_1{
   color:white;
   background-color: orangered;
   border:0;
   padding: 4px;
   border-radius: 3px;
}

/*boxes*/
#boxes{
   text-align: center;
   min-height: 380px;
   background-color:white;
}

.box{
   float:left;
   display: inline;
   width: 33.3%;
}

#css3{
   zoom: 50%;
   padding-top:20px;
   margin-bottom: 122px;
}

#graphicDesign{
   zoom: 32%;
   padding-top:167px;
   margin-bottom: 235px;
}

.box h3{
   font-weight: bolder;
   font-size: 24px;
   margin-bottom:0;
   padding-bottom:0;
}

.box p{
   font-size:small;
   padding: 0px 20px;
}

/* footer */
footer{
   text-align: center;
   background-color: orangered;
   height: 50px;
}

footer p{
   padding-top: 15px;
}

/* ABOUT US PAGE ------  */
section{
   padding: 30px;
   padding-left: 70px;
   float: left;
   width: 50%;
}

aside{
   color: white;
   font-size: 14px;
   background-color: rgb(78, 78, 78);
   padding: 20px;
   float:right;
   width: 30%;
   margin-top: 50px;
   margin-right: 30px;
   border-radius: 2%;
}
.subTask{
   padding: 20px;
   margin: 10px;
   border: 0.25px gray solid;
   background-color:rgba(255, 192, 203, 0.305);
}


/* SERVICES PAGE -------- */
aside form{
   padding:10px;
}
aside input, aside textarea, aside button{
   padding: 10px;
   margin-bottom: 10px;
   width: 90%;
}

aside button{
   width: 25%;
   padding: 10px;
}